@import url('https://fonts.googleapis.com/css2?family=Solway&family=Josefin+Slab&display=swap');

:root {
  --selectioncolor: #FFCD94;
}

body { margin: 0; }

canvas {
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#msgcontainer {
   position: absolute;
   z-index: 5;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   opacity: 90%;
}

#firstname:hover, #lastname:hover {
  color: #08e8de;
  transition: 0.3s;
}

h1, #firstname, #lastname {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#bio {
  text-align: center;
  font-family: 'Solway', cursive;
  font-size: 20px;
  background-color: rgba(221, 81, 127, 1);
  padding-left: 3px;
  border-radius: 5px;
  color: white;
}

#aboutbuttons {
  text-align: center;
  font-family: 'Solway', cursive;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}

#nextbutton {
  text-align: center;
  font-family: 'Solway', cursive;
  font-size: 20px;
  background-color: rgba(221, 81, 127, 1);
  border-radius: 5px;
  color: white; 
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#nextbutton:hover {
  text-align: center;
  font-family: 'Solway', cursive;
  font-size: 20px;
  background-color: rgba(221, 81, 127, 1);
  border-radius: 5px;
  color: #01FF70; 
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#links {
  background-color: #e6e6ff;
  border-radius: 5px;
}

#proflinks {
  color: gold;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:link, a:visited {
  color: green;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover, a:active {
  color: #01FF70;
  -webkit-transition: 0.3s;
  transition: color 0.3s;
}

#proflinks:hover, #proflinks:active {
  color: #01FF70;
  -webkit-transition: 0.3s;
  transition: color 0.3s;
}

body::selection {
	background-color: var(--selectioncolor);
}

h1::selection {
	background-color: var(--selectioncolor);
}

p::selection {
	background-color: var(--selectioncolor);
	color: #568EA6;
}

a::selection {
	background-color: var(--selectioncolor);
}

#firstname::selection, #lastname::selection {
	background-color: var(--selectioncolor);
	color: #08e8de;;
}

#email:link, #email:visited {
	color: crimson;
  background-color: #e6e6ff;
  border-radius: 5px;
}

#email:hover, #email:active {
	color: #C06C84;
  background-color: #e6e6ff;
	-webkit-transition: 0.3s;
  transition: color 0.3s;
  border-radius: 5px;
}

#contact {
	color: #021691;
  background-color: #e6e6ff;
  border-radius: 5px;
  padding: 3px;
	-webkit-transition: color 0.3s, padding 0.3s;
  transition: color 0.3s, padding 0.3s;
}

#contact:hover {
	color: #021691;
  background-color: #e6e6ff;
  padding: 6px;
	-webkit-transition: color 0.3s, padding 0.3s;
  transition: color 0.3s, padding 0.3s;
  border-radius: 5px;
}