@import url("https://fonts.googleapis.com/css?family=Asap|Solway|Quicksand|Eczar&display=swap");

a:link, a:visited {
	color: green;
	text-decoration: none;
}

a:hover, a:active {
	color: #01FF70;
}

h1 {
	font-size: 50px;
	text-align: center;
	font-family: 'Solway', serif;
	font-weight: bold;
}

#firstname:hover, #lastname:hover {
	color: #C06C84;
}

p {
	font-size: 20px;
	text-align: center;
	font-family: 'Solway', serif;
}

p:hover {
	color: #568EA6;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border-radius: 7px;
}