@import url('https://fonts.googleapis.com/css2?family=Solway&family=Josefin+Slab&display=swap');

:root {
  --selectioncolor: #FFCD94;
}

body { margin: 0; }

canvas {

  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#msgcontainer {
   position: absolute;
   z-index: 5;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   opacity: 90%;
}

#firstname:hover, #lastname:hover {
  color: #08e8de;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

h1, #firstname, #lastname {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: bold;
}

#bio {
  text-align: center;
  font-family: 'Solway', cursive;
  font-size: 20px;
}

#links {
  background-color: #e6e6ff;
  border-radius: 5px;
}

a:link, a:visited {
  color: green;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover, a:active {
  color: #01FF70;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

body::selection {
	background-color: var(--selectioncolor);
}

h1::selection {
	background-color: var(--selectioncolor);
}

p::selection {
	background-color: var(--selectioncolor);
	color: #568EA6;
}

a::selection {
	background-color: var(--selectioncolor);
}

#firstname::selection, #lastname::selection {
	background-color: var(--selectioncolor);
	color: #08e8de;;
}

#contact {
	color: crimson;
  background-color: #e6e6ff;
  border-radius: 5px;
	-webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#contact:hover {
	color: #C06C84;
  background-color: #e6e6ff;
	-webkit-transition: color 0.3s;
  transition: color 0.3s;
  border-radius: 5px;
}
